/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 19, 2015, 10:46:28 PM
    Author     : Serge Zvenigorodsky
*/

.root {
     -fx-background-image: url(http://img.photobucket.com/albums/v239/bhuntsman/1100-3WHD61251450SK40.jpg);
     -fx-background-position: center center;
     -fx-background-color: #F9E17E;
     -fx-background-opacity: .5;
}

.label {
    -fx-font-size: 12px;
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255, 255, 255, 0.5), 0, 0, 0, 1 );
}

#menu{
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-text-fill: #818181;
    -fx-effect: innershadow( three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2 );
}
